.hidden {
    display: none;
}

.tab {
    padding: 10px 25px;
    border: 1px solid lightblue;
    cursor: pointer;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;


}

.tab:hover {
    background-color: rgb(120, 170, 187);
}


.tab.active {
    background-color: lightblue;
}


.content {
    display: flex;
    gap: 1rem;
}


.panel {
    padding: 1rem;
    min-width: 200px;
    border: 1px solid lightblue;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.panel.active {
    background-color: lightblue;

}

table {
    border-collapse: collapse;
    width: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    /* display: none; */
}

th,
td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e0f7e9;
    transition: 0.3s;
}


.accessibleModel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.accessibleModel.active {
    display: flex;
}