.hidden {
    display: none;
}

.tab {
    padding: 10px 25px;
    border: 1px solid lightblue;
    cursor: pointer;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;


}

.tab:hover {
    background-color: rgb(120, 170, 187);
}


.tab.active {
    background-color: lightblue;
}


.content {
    display: flex;
    gap: 1rem;
}


.panel {
    padding: 1rem;
    min-width: 200px;
    border: 1px solid lightblue;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.panel.active {
    background-color: lightblue;

}